<div id="about" class="block post">
  <div class="block_header post_header">
    <h3 class="block_title post_title"><a href="/about">Contact Me</a></h3>
  </div>
  <div class="block_body body">
    <pre id="hacker">      |_|0|_|
      |_|_|0|
      |0|0|0|
    </pre>
    <ul>
    	<li>姓名: 史英建</li>
      <li>Gtalk/Email: shiyj.cn@gmail.com</li>
      <li>郑州大学 地理信息专业</li>
    </ul>
  </div>
</div>
