<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/css/application.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <!--google analytics 谷歌分析代码-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23034032-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Engin's Blog _-_<%= title %></title>
  </head>
  <body>
  		
    <div id="container">
      <div id="header">
        <a  href="/"><h3>Shiyj in Ruby</h3><img src="/images/ruby.png" height="100"></img></a>
        <ul>
          <li><a href="/archives" class="nav">日志</a></li>
          <li><a href="/about" class="page_link">关于我</a></li>
        </ul>
      </div>
      
     
			<div id="main" class="clearfix">
		    <div id="yieldfield">
		      <%= yield %>
		    </div>
				<div id="webleft" width="202px" height="552">
					<embed src="/images/time.swf" wmode="transparent" width="200px" height="100px"></embed>
          <iframe frameborder="0" scrolling="no" src="http://v.t.qq.com/show/show.php?n=giszzu&w=202&h=452&fl=1&l=2&o=29&c=1&si=e9d8d3d76e7861abaf728b6778b40fc997220bc8" width="202" height="452">
          
          </iframe>
          <script type="text/javascript" src="https://www.google.com/reader/ui/publisher-zh_CN.js"></script>
          <script type="text/javascript" src="https://www.google.com/reader/public/javascript/user/03503492677085614698/state/com.google/broadcast?n=8&callback=GRC_p(%7Bc%3A%22blue%22%2Ct%3A%22shiyj.cn%40gmail.com%20%5Cu7684%5Cu5171%5Cu4EAB%5Cu6761%5Cu76EE%22%2Cs%3A%22false%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
        </div>
			</div>
      <div id="footer" class="clearfix">
        &copy; 史英建 | <a href="http://github.com/shiyj">源代码</a>|<a href="/about">关于我</a>
      </div>

    </div>
  </body>
</html>

